<div class="background-image pink-corner-frame mt-5">
    <div class="d-flex flex-row m-3 pb-2 bt-0 pl-1 pr-1 flex-wrap align-items-center">
        <div class="flex-grow-1 pl-2">{{ 'nav.pose' | translate }}</div>
        <button
            type="button"
            id="save-pose-button"
            data-test="BTN_Pose_Save_Current_Pose"
            class="btn btn-regular mr-2 mb-1"
            (click)="savePose()">
            {{ 'pose.saveCurrent' | translate }}
        </button>
        <button
            type="button"
            class="btn btn-regular btn-sm mr-2 mb-1"
            data-test="BTN_Pose_Import"
            (click)="importPoses()">
            {{ 'common.import' | translate }}
        </button>
        <button
            type="button"
            class="btn btn-regular btn-sm mr-2 mb-1"
            data-test="BTN_Pose_Export_All"
            (click)="exportAllPoses()">
            {{ 'pose.exportAll' | translate }}
        </button>
        <button
            type="button"
            class="btn btn-regular btn-sm mb-1 delete-all-button"
            data-test="BTN_Pose_Delete_All"
            (click)="deleteAllPoses()">
            {{ 'pose.deleteAll' | translate }}
        </button>
    </div>

    <!-- Gesichtsausdruck: setzt die Augen auf dem pib-Display direkt um -->
    <div class="d-flex flex-row m-3 pb-2 pl-1 pr-1 flex-wrap align-items-center">
        <div class="pl-2 mr-3">{{ 'pose.emotionTitle' | translate }}</div>
        <button
            *ngFor="let emotion of emotions"
            type="button"
            class="btn btn-regular btn-sm mr-2 mb-1"
            [attr.data-test]="'BTN_Emotion_' + emotion.value"
            (click)="setEmotion(emotion.value)">
            {{emotion.labelKey | translate}}
        </button>
        <button
            *ngFor="let expression of customExpressions$ | async"
            type="button"
            class="btn btn-regular btn-sm mr-2 mb-1"
            [attr.data-test]="'BTN_Custom_Expression_' + expression.expressionId"
            (click)="playCustomExpression(expression.expressionId)">
            {{expression.name}}
        </button>
        <a
            routerLink="/pose/facial-expression"
            class="ml-2 mb-1"
            data-test="LNK_Manage_Facial_Expressions"
            >{{ 'pose.manageFacialExpressions' | translate }}</a
        >
    </div>

    <!-- Text aussprechen: spielt den eingegebenen Satz ueber pibs
         Lautsprecher ab (play_audio_from_speech, derselbe Service wie der
         Blockly-Block "als ... sage ..."). -->
    <div class="d-flex flex-row m-3 pb-2 pl-1 pr-1 flex-wrap align-items-center">
        <input
            type="text"
            class="speech-input"
            data-test="TXT_Speech_Input"
            [formControl]="speechFormControl"
            [placeholder]="'pose.speechPlaceholder' | translate"
            (keydown.enter)="sendSpeech()" />
        <button
            type="button"
            class="btn btn-regular btn-sm ml-2 mb-1"
            data-test="BTN_Speech_Send"
            [disabled]="!speechFormControl.value?.trim()"
            (click)="sendSpeech()">
            {{ 'pose.speechSend' | translate }}
        </button>
    </div>

    <!-- Globales Bewegungstempo: skaliert velocity/acceleration/deceleration
         jedes Motors fuer JEDE Bewegung (manuelle Steuerung, Posen,
         Programme) - siehe MovementSettingsService. Der Slider aendert nur
         die Anzeige; erst "Speichern" wendet den Wert an. -->
    <div class="d-flex flex-row m-3 pb-2 pl-1 pr-1 flex-wrap align-items-center">
        <div class="pl-2 mr-3">{{ 'pose.speedTitle' | translate }}</div>
        <input
            type="range"
            [min]="minSpeedPercent"
            [max]="maxSpeedPercent$ | async"
            step="1"
            data-test="SLD_Movement_Speed"
            [value]="pendingSpeedPercent"
            (input)="onSpeedSliderInput($any($event.target).value)" />
        <span
            class="ml-2 mr-3"
            data-test="TXT_Movement_Speed_Value"
            >{{pendingSpeedPercent}}%</span
        >
        <button
            type="button"
            class="btn btn-regular btn-sm"
            data-test="BTN_Movement_Speed_Save"
            (click)="saveSpeedPercent()">
            {{ 'common.save' | translate }}
        </button>
        <span
            *ngIf="speedSaved"
            class="ml-2 speed-saved-hint"
            data-test="TXT_Movement_Speed_Saved"
            >{{ 'pose.speedSaved' | translate }}</span
        >
    </div>

    <div
        cdkDropList
        (cdkDropListDropped)="dropPose($event)">
    <div
        *ngFor="let pose of poses | async"
        cdkDrag
        cdkDragLockAxis="y"
        class="pose-item d-flex flex-row mt-1 mb-2"
        [ngClass]="pose.poseId === selectedPoseId ? 'selected' : 'unselected'">
        <button
            class="apply-button flex-shrink-0"
            [attr.data-test]="'BTN_Pose_Apply_' + pose.name"
            [disabled]="!pose.active"
            data-test="BTN_Apply_pose"
            (click)="applyPose(pose)">
            <img
                class="apply-pose"
                src="../../../assets/joint-control/other/apply-pose.svg"
                alt="apply-pose" />
        </button>
        <button
            class="pose-label flex-grow-1 flex-shrink-1 pl-3"
            [attr.data-test]="'BTN_Pose_Select_' + pose.name"
            (click)="selectPose(pose)"
            (dblclick)="renamePose(pose)">
            {{pose.name}}
        </button>
        <button
            *ngIf="pose.deletable || pose.name === 'Startup/Resting'"
            #updateButton
            class="update-button flex-shrink-0"
            data-test="BTN_Update_pose"
            [title]="'pose.updateTooltip' | translate"
            (click)="updatePoseMotorPositions(pose)">
            <img
                class="update-icon"
                src="../../../assets/joint-control/other/update-pose.svg"
                alt="update-pose" />
        </button>
        <button
            *ngIf="pose.deletable"
            [attr.data-test]="'BTN_Pose_Rename_' + pose.name"
            #renameButton
            class="rename-button flex-shrink-0"
            data-test="BTN_Rename_pose"
            (click)="renamePose(pose)">
            <img
                class="rename-icon"
                src="../../../assets/edit.svg"
                alt="rename-pose" />
        </button>
        <button
            [attr.data-test]="'BTN_Pose_Export_' + pose.name"
            class="rename-button flex-shrink-0"
            [title]="'common.export' | translate"
            (click)="exportPose(pose)">
            <img
                class="rename-icon"
                src="../../../assets/export.svg"
                alt="export-pose" />
        </button>
        <button
            *ngIf="pose.deletable"
            [attr.data-test]="'BTN_Pose_Delete_' + pose.name"
            class="delete-button flex-shrink-0"
            data-test="BTN_Delete_pose"
            (click)="deletePose(pose)">
            <img
                class="delete-icon"
                src="../../../assets/delete.svg"
                alt="delete-pose" />
        </button>
    </div>
    </div>

</div>

<ng-template
    #modalContent
    let-modal
    id="template">
    <div
        class="row display-flex modal-header"
        id="modal-header">
        <div
            class="col-10"
            id="header-title">
            <span id="header-title-text">{{modalTitle}}</span>
        </div>
        <div
            class="col-2 text-right"
            id="close-button">
            <button
                id="modal-close-button"
                data-test="BTN_Close"
                type="button"
                (click)="modal.dismiss('Cross')"
                class="btn">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="10"
                    height="16">
                    <text
                        font-family="Titillium"
                        fill="#FFF"
                        font-weight="bold"
                        font-size="16"
                        y="11.062">
                        X
                    </text>
                </svg>
            </button>
        </div>
    </div>
    <div
        class="row m-2 mt-4 pr-2"
        id="row-name">
        <label
            for="name-input"
            class="col-3 mt-2 justify-content-end"
            id="label-name"
            >{{ 'common.name' | translate }}:</label
        >
        <input
            ngbAutofocus
            class="col-9"
            type="text"
            data-test="TXT_Name"
            (keydown)="($event).key ==='Enter' ? modal.close('Save'): ''"
            name="name-input"
            [formControl]="nameFormControl"
            id="name-input" />
    </div>
    <!-- col-auto statt col-3: die festen 25%-Spalten waren schmaler als die
         Buttons, wodurch "Abbrechen" den "Speichern"-Button ueberlappte. -->
    <div class="row justify-content-center mt-2 mb-3">
        <div class="col-auto align-self-center">
            <button
                type="button"
                class="btn btn-regular"
                id="modal-save-button"
                data-test="BTN_Save"
                [disabled]="nameFormControl.invalid"
                (keydown.enter)="modal.close('Save')"
                (click)="modal.close('Save')">
                {{ 'common.save' | translate }}
            </button>
        </div>
        <div class="col-auto align-self-center">
            <button
                type="button"
                class="btn btn-regular"
                id="modal-cancel-button"
                data-test="BTN_Cancel"
                (click)="modal.dismiss('Cancel')">
                {{ 'common.cancel' | translate }}
            </button>
        </div>
    </div>
</ng-template>

<!-- Confirmation for "delete all poses": unlocks only after solving
     the arithmetic task, so it cannot be clicked through by accident. -->
<ng-template
    #deleteAllModalContent
    let-modal
    id="delete-all-template">
    <div class="row display-flex modal-header">
        <div class="col-10">
            <span id="delete-all-title">{{ 'pose.deleteAllTitle' | translate }}</span>
        </div>
        <div class="col-2 text-right">
            <button
                data-test="BTN_Close"
                type="button"
                (click)="modal.dismiss('Cross')"
                class="btn">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="10"
                    height="16">
                    <text
                        font-family="Titillium"
                        fill="#FFF"
                        font-weight="bold"
                        font-size="16"
                        y="11.062">
                        X
                    </text>
                </svg>
            </button>
        </div>
    </div>
    <div class="m-3">
        <p [innerHTML]="'pose.deleteAllWarning' | translate"></p>
        <p>
            {{ 'pose.mathPrompt' | translate }}
        </p>
        <p
            class="text-center"
            style="font-size: 1.4rem; font-weight: bold"
            data-test="TXT_Math_Question">
            {{mathQuestion}}
        </p>
        <input
            ngbAutofocus
            class="w-100"
            type="number"
            [placeholder]="'pose.resultPlaceholder' | translate"
            data-test="TXT_Math_Answer"
            [formControl]="mathAnswerControl" />
    </div>
    <div class="row justify-content-center mt-2 mb-3">
        <div class="col-4 align-self-center">
            <button
                type="button"
                class="btn btn-regular w-100"
                data-test="BTN_Delete_All_Confirm"
                [disabled]="!isMathAnswerCorrect()"
                (click)="modal.close('Delete')">
                {{ 'pose.deleteAllConfirmBtn' | translate }}
            </button>
        </div>
        <div class="col-4 align-self-center">
            <button
                type="button"
                class="btn btn-regular w-100"
                data-test="BTN_Delete_All_Cancel"
                (click)="modal.dismiss('Cancel')">
                {{ 'common.cancel' | translate }}
            </button>
        </div>
    </div>
</ng-template>

<!-- Gestensteuerung (Kamera-basierte Gesten/Bewegungssequenzen-Aufnahme) ist
     vorerst ausgeblendet - siehe showGestureFeatures im Component. -->
<div
    class="background-image pink-corner-frame mt-3"
    *ngIf="showGestureFeatures">
    <div class="d-flex flex-row m-3 pb-2 bt-0 pl-1 pr-1">
        <div class="flex-grow-1 pl-2">{{ 'pose.gestureControlTitle' | translate }}</div>
    </div>

    <div class="d-flex flex-row m-3 align-items-center flex-wrap" id="gesture-capture-controls">
        <select
            class="mr-2 mb-2"
            data-test="SEL_Gesture_Capture_Mode"
            [(ngModel)]="captureMode"
            [disabled]="(capturing$ | async) ?? false">
            <option value="static">{{ 'pose.staticOption' | translate }}</option>
            <option value="dynamic">{{ 'pose.dynamicOption' | translate }}</option>
        </select>
        <select
            class="mr-2 mb-2"
            data-test="SEL_Gesture_Pose_Source"
            [title]="'pose.poseSourceTooltip' | translate"
            [(ngModel)]="poseSource"
            [disabled]="(capturing$ | async) ?? false">
            <option value="robot">{{ 'pose.robotCamera' | translate }}</option>
            <option value="webcam">{{ 'pose.ownWebcam' | translate }}</option>
        </select>
        <input
            type="number"
            min="1"
            max="60"
            class="mr-2 mb-2"
            style="width: 5rem"
            data-test="TXT_Gesture_Capture_Duration"
            [(ngModel)]="captureDurationS"
            [disabled]="(capturing$ | async) ?? false" />
        <span class="mr-2 mb-2">{{ 'pose.seconds' | translate }}</span>

        <button
            *ngIf="!(capturing$ | async)"
            type="button"
            class="btn btn-regular mb-2"
            data-test="BTN_Gesture_Capture_Start"
            (click)="startCapture()">
            {{ 'common.start' | translate }}
        </button>
        <button
            *ngIf="capturing$ | async"
            type="button"
            class="btn btn-regular mb-2"
            data-test="BTN_Gesture_Capture_Stop"
            (click)="stopCapture()">
            {{ 'pose.stopWithSeconds' | translate: {seconds: (remainingSeconds$ | async)} }}
        </button>
    </div>

    <div
        *ngIf="poseTrackerError$ | async as error"
        class="m-3"
        style="color: #ff8080"
        data-test="TXT_Gesture_Pose_Tracker_Error">
        {{error}}
    </div>

    <div
        *ngIf="capturing$ | async"
        class="m-3"
        style="font-size: 0.85rem; opacity: 0.8"
        data-test="TXT_Gesture_Debug_Status">
        {{ 'pose.debugStatus' | translate: {
            ready: (landmarkerReady$ | async) ? ('pose.yes' | translate) : ('pose.no' | translate),
            received: (framesReceived$ | async),
            drawn: (framesDrawn$ | async)
        } }}
    </div>

    <div
        *ngIf="capturing$ | async"
        class="d-flex flex-row m-3 flex-wrap"
        id="gesture-capture-preview">
        <div class="mr-4 mb-2">
            <div class="pb-1">{{ 'pose.canvasWithPoints' | translate }}</div>
            <canvas
                #previewCanvas
                data-test="CANVAS_Gesture_Preview"
                style="max-width: 480px; width: 100%; border-radius: 6px; background: #000;"></canvas>
        </div>
        <div class="mr-4 mb-2" *ngIf="rawFrame$ | async as raw">
            <div class="pb-1">{{ 'pose.rawFrame' | translate }}</div>
            <img
                [src]="raw"
                data-test="IMG_Gesture_Raw_Frame"
                style="max-width: 320px; width: 100%; border-radius: 6px;" />
        </div>
        <div class="mb-2">
            <div class="pb-2">{{ 'pose.detectedJointAngles' | translate }}</div>
            <table class="joint-angle-table">
                <tr *ngFor="let entry of jointAngles$ | async | keyvalue">
                    <td class="pr-3">{{entry.key}}</td>
                    <td>{{entry.value | number: "1.0-0"}}&deg;</td>
                </tr>
                <tr *ngIf="(jointAngles$ | async | keyvalue)?.length === 0">
                    <td>{{ 'pose.noPersonDetected' | translate }}</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="d-flex flex-row m-3 pb-1 pl-2 align-items-center">
        <span class="flex-grow-1">{{ 'pose.gestures' | translate }}</span>
        <button
            type="button"
            class="btn btn-regular btn-sm"
            data-test="BTN_Gesture_Import"
            (click)="importGesture()">
            {{ 'common.import' | translate }}
        </button>
    </div>
    <div
        *ngFor="let gesture of gestures | async"
        class="pose-item d-flex flex-row mt-1 mb-2">
        <button
            class="apply-button flex-shrink-0"
            [attr.data-test]="'BTN_Gesture_Apply_' + gesture.name"
            (click)="applyGesture(gesture)">
            <img
                class="apply-pose"
                src="../../../assets/joint-control/other/apply-pose.svg"
                alt="apply-gesture" />
        </button>
        <button
            class="pose-label flex-grow-1 flex-shrink-1 pl-3"
            [attr.data-test]="'BTN_Gesture_Select_' + gesture.name"
            (dblclick)="renameGesture(gesture)">
            {{gesture.name}}
        </button>
        <button
            *ngIf="gesture.deletable"
            [attr.data-test]="'BTN_Gesture_Rename_' + gesture.name"
            class="rename-button flex-shrink-0"
            (click)="renameGesture(gesture)">
            <img
                class="rename-icon"
                src="../../../assets/edit.svg"
                alt="rename-gesture" />
        </button>
        <button
            [attr.data-test]="'BTN_Gesture_Export_' + gesture.name"
            class="rename-button flex-shrink-0"
            [title]="'common.export' | translate"
            (click)="exportGesture(gesture)">
            <img
                class="rename-icon"
                src="../../../assets/export.svg"
                alt="export-gesture" />
        </button>
        <button
            *ngIf="gesture.deletable"
            [attr.data-test]="'BTN_Gesture_Delete_' + gesture.name"
            class="delete-button flex-shrink-0"
            (click)="deleteGesture(gesture)">
            <img
                class="delete-icon"
                src="../../../assets/delete.svg"
                alt="delete-gesture" />
        </button>
    </div>

    <div class="d-flex flex-row m-3 pb-1 pl-2 align-items-center">
        <span class="flex-grow-1">{{ 'pose.movementSequences' | translate }}</span>
        <button
            type="button"
            class="btn btn-regular btn-sm"
            data-test="BTN_Sequence_Import"
            (click)="importSequence()">
            {{ 'common.import' | translate }}
        </button>
    </div>
    <div
        *ngFor="let sequence of sequences | async"
        class="pose-item d-flex flex-row mt-1 mb-2">
        <button
            class="apply-button flex-shrink-0"
            [attr.data-test]="'BTN_Sequence_Apply_' + sequence.name"
            (click)="applySequence(sequence)">
            <img
                class="apply-pose"
                src="../../../assets/joint-control/other/apply-pose.svg"
                alt="apply-sequence" />
        </button>
        <button
            class="pose-label flex-grow-1 flex-shrink-1 pl-3"
            [attr.data-test]="'BTN_Sequence_Select_' + sequence.name"
            (dblclick)="renameSequence(sequence)">
            {{sequence.name}}
        </button>
        <button
            *ngIf="sequence.deletable"
            [attr.data-test]="'BTN_Sequence_Rename_' + sequence.name"
            class="rename-button flex-shrink-0"
            (click)="renameSequence(sequence)">
            <img
                class="rename-icon"
                src="../../../assets/edit.svg"
                alt="rename-sequence" />
        </button>
        <button
            [attr.data-test]="'BTN_Sequence_Export_' + sequence.name"
            class="rename-button flex-shrink-0"
            [title]="'common.export' | translate"
            (click)="exportSequence(sequence)">
            <img
                class="rename-icon"
                src="../../../assets/export.svg"
                alt="export-sequence" />
        </button>
        <button
            *ngIf="sequence.deletable"
            [attr.data-test]="'BTN_Sequence_Delete_' + sequence.name"
            class="delete-button flex-shrink-0"
            (click)="deleteSequence(sequence)">
            <img
                class="delete-icon"
                src="../../../assets/delete.svg"
                alt="delete-sequence" />
        </button>
    </div>
</div>
