<div
    class="joystick-wrapper"
    [title]="'jointControl.headJoystickTooltip' | translate">
    <div
        #base
        class="joystick-base"
        data-test="JOY_Head"
        (pointerdown)="onPointerDown($event)"
        (pointermove)="onPointerMove($event)"
        (pointerup)="onPointerUp($event)"
        (pointercancel)="onPointerUp($event)">
        <div
            class="joystick-knob"
            [class.joystick-knob-active]="dragging"
            [style.transform]="'translate(' + knobX + 'px, ' + knobY + 'px)'"></div>
    </div>
</div>
