<div class="sidebar-right-wrapper">
    <!-- Action buttons (e.g. "New program" / "Import program"): pinned at
         the top so they stay reachable no matter how long the list gets. -->
    <div
        class="sidebar-actions"
        *ngIf="optionCallbackMethods.length > 0">
        <button
            *ngFor="let option of optionCallbackMethods"
            type="button"
            class="sidebar-action-button"
            id="sidebar-right-{{option.label}}"
            [attr.data-test]="'BTN_' + option.label"
            (click)="option.clickCallback('')">
            {{option.label}}
        </button>
    </div>

    <!-- The element list scrolls on its own; the actions above never move. -->
    <div
        class="sidebar-list"
        data-test="LST_Sidebar_Elements">
        <div
            class="element-div text-nowrap"
            *ngFor="let sidebarElement of sidebarElements"
            routerLinkActive="element-div-active">
            <div class="d-flex justify-content-between">
                <a
                    [routerLink]="sidebarElement.getUUID()"
                    class="element text-truncate col-9 pl-sm-1 pl-xl-3 pr-2 pb-2 text-center-vertical"
                    [attr.data-test]="'BTN_' + sidebarElement.getName()">
                    {{ sidebarElement.getName() }}
                </a>
                <div ngbDropdown>
                    <button
                        type="button"
                        class="btn pl-sm-0"
                        data-test="DDN_sidebarElement.getName()"
                        id="dropdownbutton-{{sidebarElement.getName()}}"
                        [title]="'jointControl.editTooltip' | translate"
                        ngbDropdownToggle>
                        <i class="bi bi-three-dots dot-menu"></i>
                    </button>
                    <div
                        ngbDropdownMenu
                        attr.aria-labelledby="dropdownbutton-{{sidebarElement.getName()}}">
                        <div
                            *ngFor="let callback of dropdownCallbackMethods">
                            <button
                                ngbDropdownItem
                                [disabled]="callback.disabled"
                                id="sidebar-right-{{toLowerCaseAndRemoveSpace(callback.label)}}-{{sidebarElement.getName()}}"
                                data-test="DDN_sidebarElement.getName()"
                                (click)="callback.clickCallback(sidebarElement.getUUID())">
                                <img
                                    *ngIf="callback.icon !== ''"
                                    [src]="callback.icon"
                                    class="item pr-1 mb-1" />
                                <label>{{callback.label}}</label>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
