<div
    class="wrapper p-4 d-flex flex-column-reverse"
    (click)="onClick()"
    (keydown)="onClick()"
    tabindex="0"
    id="console-area">
    <textarea
        *ngIf="state.executionState === ExecutionState.RUNNING"
        class="flex-shrink-0"
        id="program-input-area"
        data-test="TXT_Program_Input"
        [ngClass]="lastLogLineIfInput?.isError ? 'stderr' : 'stdout'"
        #programInputArea
        [formControl]="programInputForm">
    </textarea>
    <div
        *ngIf="state.executionState === ExecutionState.FINISHED_SUCCESSFUL"
        class="info">
        {{ 'console.finishedSuccessfully' | translate }}
    </div>
    <div
        *ngIf="state.executionState === ExecutionState.FINISHED_ERROR"
        class="info">
        {{ 'console.finishedWithErrors' | translate: {code: state.exitCode} }}
    </div>
    <div
        *ngIf="state.executionState === ExecutionState.INTERRUPTED"
        class="info">
        {{ 'console.interrupted' | translate }}
    </div>
    <div
        *ngIf="lastLogLineIfInput && (state.executionState === ExecutionState.FINISHED_SUCCESSFUL || state.executionState === ExecutionState.INTERRUPTED || state.executionState === ExecutionState.FINISHED_ERROR)"
        [ngClass]="lastLogLineIfInput.isError ? 'stderr' : 'stdout'">
        {{lastLogLineIfInput.content}}
    </div>
    <div
        *ngFor="let line of logs"
        [ngClass]="line.isError ? 'stderr' : 'stdout'">
        {{line.content}}
    </div>
    <div
        *ngIf="state.executionState >= ExecutionState.RUNNING"
        class="info">
        {{ 'console.executing' | translate }}
    </div>
    <div
        *ngIf="state.executionState >= ExecutionState.STARTING"
        class="info">
        {{ 'console.starting' | translate }}
    </div>
    <div
        *ngIf="state.executionState === ExecutionState.NOT_STARTED"
        class="info">
        {{ 'console.notStarted' | translate }}
    </div>
</div>
