<link
    rel="stylesheet"
    href="voice-assistant-personality-sidebar-right.component.scss" />
<div class="sidebar-right-wrapper bg-sidebar h-100 pl-xl-4 pl-sm-3">
    <form
        (keydown.enter)="$event.preventDefault()"
        [formGroup]="personalityFormSidebar"
        (change)="formChanged(personalityFormSidebar)">
        <div
            class="row pt-4"
            id="personality-sidebar-persona-name-row">
            <label
                for="personality-sidebar-persona-name-input"
                class="pt-1 row label-text-center"
                id="personality-sidebar-persona-name-label"
                >{{ 'voiceAssistant.personaNameLabel' | translate }}</label
            >
            <input
                class="row input col-11 ml-0"
                type="text"
                data-test="TXT_Persona_Name"
                formControlName="persona-name"
                [value]="personalityClone.name"
                id="personality-sidebar-persona-name-input" />
        </div>
        <div class="row mt-sm-3 mt-xl-4">
            <div class="col-11 pl-0">
                <label id="model">{{ 'voiceAssistant.assistantModelLabel' | translate }}</label>
                <select
                    formControlName="assistantModel"
                    id="voice-assistant-model-select-right-sidebar"
                    data-test="DDN_Voice_Assistant_Model"
                    class="form-select"
                    [attr.aria-label]="'voiceAssistant.modelAriaLabel' | translate">
                    <option
                        *ngFor="let model of models"
                        [value]="model.id">
                        {{ model.visualName }}
                    </option>
                </select>
            </div>
        </div>
        <div class="row mt-sm-3 mt-xl-4">
            <div class="form-check col-11 pl-0">
                <input
                    class="form-check-input"
                    type="checkbox"
                    id="personality-sidebar-camera-access-checkbox"
                    data-test="CHK_Camera_Access"
                    formControlName="cameraAccessEnabled" />
                <label
                    class="form-check-label"
                    for="personality-sidebar-camera-access-checkbox"
                    id="personality-sidebar-label-camera-access"
                    >{{ 'voiceAssistant.cameraAccessLabel' | translate }}</label
                >
            </div>
        </div>
        <div class="row mt-sm-3 mt-xl-4">
            <div class="form-check col-11 pl-0">
                <input
                    class="form-check-input"
                    type="checkbox"
                    id="personality-sidebar-movement-access-checkbox"
                    data-test="CHK_Movement_Access"
                    formControlName="movementAccessEnabled" />
                <label
                    class="form-check-label"
                    for="personality-sidebar-movement-access-checkbox"
                    id="personality-sidebar-label-movement-access"
                    >{{ 'voiceAssistant.movementAccessLabel' | translate }}</label
                >
            </div>
        </div>
        <div class="row mt-sm-3 mt-xl-4">
            <div class="form-check col-11 pl-0">
                <input
                    class="form-check-input"
                    type="checkbox"
                    id="personality-sidebar-emotion-access-checkbox"
                    data-test="CHK_Emotion_Access"
                    formControlName="emotionAccessEnabled" />
                <label
                    class="form-check-label"
                    for="personality-sidebar-emotion-access-checkbox"
                    id="personality-sidebar-label-emotion-access"
                    >{{ 'voiceAssistant.emotionAccessLabel' | translate }}</label
                >
            </div>
        </div>
        <div class="row pl-1 mt-sm-3 mt-xl-4">
            <label id="personality-sidebar-label-name">{{ 'voiceAssistant.voiceGenderLabel' | translate }}</label>
            <div class="col-sm-6 col-xl-12 pl-0">
                <div
                    class="col-4"
                    id="personality-sidebar-radio-button-female">
                    <input
                        value="Female"
                        formControlName="gender"
                        type="radio"
                        data-test="RBN_Female"
                        id="personality-sidebar-radio-female" />
                    <label
                        class="pl-4 radioHover marginFemale"
                        for="personality-sidebar-radio-female"
                        id="personality-sidebar-label-radio-female"
                        >{{ 'voiceAssistant.female' | translate }}</label
                    >
                </div>
            </div>
            <div class="col-sm-6 col-xl-12 pl-0">
                <div
                    class="col-4"
                    id="personality-sidebar-radio-button-male">
                    <input
                        value="Male"
                        formControlName="gender"
                        type="radio"
                        data-test="RBN_Male"
                        id="personality-sidebar-radio-male" />
                    <label
                        class="pl-4 radioHover marginMale"
                        for="personality-sidebar-radio-male"
                        id="personality-sidebar-label-radio-male"
                        >{{ 'voiceAssistant.male' | translate }}</label
                    >
                </div>
            </div>
        </div>
        <div
            class="row m-1 mt-sm-3 mt-xl-4"
            id="personality-sidebar-row-pause-threshold">
            <label
                for="personality-sidebar-pause-threshold-input"
                class="row pr-3"
                id="personality-sidebar-label-pause-threshold"
                ><span [innerHTML]="'voiceAssistant.pauseThresholdWithUnit' | translate"></span></label
            >
            <div class="row pl-0">
                <div class="col pl-0 number-input">
                    <input
                        readonly
                        type="text"
                        class="input w-50 pl-2"
                        id="personality-sidebar-pause-threshold-input"
                        data-test="TXT_Threshold"
                        step="0.1"
                        [attr.alt]="'voiceAssistant.pauseThresholdAlt' | translate"
                        [(ngModel)]="thresholdString"
                        [ngModelOptions]="{standalone: true}"
                        (ngModelChange)="adjustThreshold()" />
                    <button
                        type="button"
                        id="personality-sidebar-up"
                        data-test="BTN_Threshold_up"
                        class="h-auto w-25 ml-1"
                        (click)="adjustThresholdViaButton(true)">
                        &#9650;
                    </button>
                    <button
                        type="button"
                        id="personality-sidebar-down"
                        data-test="BTN_Threshold_down"
                        class="h-auto w-25 ml-1"
                        (click)="adjustThresholdViaButton(false)">
                        &#9660;
                    </button>
                </div>
            </div>
        </div>
        <div
            class="row m-1 mt-sm-3 mt-xl-4"
            id="personality-sidebar-row-message-history">
            <label
                for="personality-sidebar-message-history-input"
                class="row pr-3"
                id="personality-sidebar-label-message-history"
                ><span [innerHTML]="'voiceAssistant.messageHistoryWithUnit' | translate"></span></label
            >
            <div class="row pl-0">
                <div class="col pl-0 number-input">
                    <input
                        readonly
                        type="text"
                        class="input w-50 pl-2"
                        id="personality-sidebar-message-history-input"
                        data-test="TXT_Message_history"
                        step="0.1"
                        [attr.alt]="'voiceAssistant.messageHistoryAlt' | translate"
                        [(ngModel)]="messageHistoryNumber"
                        [ngModelOptions]="{standalone: true}"
                        (ngModelChange)="adjustHistory()" />
                    <button
                        type="button"
                        id="personality-sidebar-up-2"
                        data-test="BTN_History_up"
                        class="h-auto w-25 ml-1"
                        (click)="adjustHistoryViaButton(true)">
                        &#9650;
                    </button>
                    <button
                        type="button"
                        id="personality-sidebar-down-2"
                        data-test="BTN_History_down"
                        class="h-auto w-25 ml-1"
                        (click)="adjustHistoryViaButton(false)">
                        &#9660;
                    </button>
                </div>
            </div>
        </div>
        <div
            class="row position-relative bottom-0 start-50 translate-middle-x mb-4 mt-3 mr-3">
            <button
                id="personality-sidebar-delete-persona-button"
                data-test="BTN_Delete_Persona"
                class="btn btn-regular delete p-sm-1 p-xl-3"
                (click)="deletePersonality()">
                {{ 'voiceAssistant.deletePersona' | translate }}
            </button>
        </div>
    </form>
</div>
