<div>
    <div class="mb-3 pl-2 form-headline">Pinbelegung der Servo-Bricklets</div>
    <div class="pin-hint pl-2">
        Pro Pin lässt sich das angeschlossene Körperteil auswählen oder
        „nicht angeschlossen" setzen. Ein Körperteil kann immer nur einem
        Pin zugewiesen sein - es verschwindet automatisch aus den anderen
        Dropdown-Listen. Defekte (z. B. durchgebrannte) Pins lassen sich
        markieren, sobald kein Körperteil mehr daran hängt - dafür zuerst
        „nicht angeschlossen" auswählen. Änderungen wirken erst, nachdem
        der ros-motors-Container neu gestartet wurde.
    </div>

    <button
        type="button"
        class="btn btn-regular restart-button"
        data-test="BTN_Restart_Motors"
        [disabled]="restartingMotors"
        (click)="restartMotors()">
        {{restartingMotors ? "Wird neu gestartet…" : "ros-motors neu starten"}}
    </button>

    <div
        *ngFor="let bricklet of grid.bricklets"
        class="bricklet-group">
        <div class="bricklet-title">
            Servo Bricklet {{bricklet.brickletNumber}}
            <span
                class="bricklet-uid"
                *ngIf="bricklet.uid"
                >(UID: {{bricklet.uid}})</span
            >
        </div>
        <table class="pin-table">
            <tr>
                <th>Pin</th>
                <th>Körperteil</th>
                <th>Defekt</th>
            </tr>
            <tr
                *ngFor="let pinInfo of bricklet.pins"
                [ngClass]="{'pin-defective': pinInfo.defective}">
                <td class="pin-number">{{pinInfo.pin}}</td>
                <td>
                    <select
                        class="pin-select"
                        [attr.data-test]="'SEL_Pin_' + bricklet.brickletNumber + '_' + pinInfo.pin"
                        [disabled]="pinInfo.defective"
                        [value]="pinInfo.motorName ?? ''"
                        (change)="onAssign(bricklet.brickletId, pinInfo.pin, $any($event.target).value)">
                        <option value="">(nicht angeschlossen)</option>
                        <option
                            *ngFor="let motorName of availableMotorNames(pinInfo.motorName)"
                            [value]="motorName">
                            {{motorName}}
                        </option>
                    </select>
                </td>
                <td>
                    <input
                        type="checkbox"
                        class="defective-checkbox"
                        [attr.data-test]="'CHK_Defective_' + bricklet.brickletNumber + '_' + pinInfo.pin"
                        [checked]="pinInfo.defective"
                        [disabled]="pinInfo.motorName !== null"
                        (change)="onToggleDefective(bricklet.brickletId, pinInfo.pin, $any($event.target).checked)" />
                </td>
            </tr>
        </table>
    </div>
</div>
