<div>
    <div class="mb-3 pl-2 form-headline">{{ 'pinAssignment.headline' | translate }}</div>
    <div class="pin-hint pl-2">
        {{ 'pinAssignment.hint' | translate }}
    </div>

    <button
        type="button"
        class="btn btn-regular restart-button"
        data-test="BTN_Restart_Motors"
        [disabled]="restartingMotors"
        (click)="restartMotors()">
        {{restartingMotors ? ('pinAssignment.restarting' | translate) : ('pinAssignment.restart' | translate)}}
    </button>

    <div
        *ngFor="let bricklet of grid.bricklets"
        class="bricklet-group">
        <div class="bricklet-title">
            {{ 'pinAssignment.servoBricklet' | translate: {number: bricklet.brickletNumber} }}
            <span
                class="bricklet-uid"
                *ngIf="bricklet.uid"
                >(UID: {{bricklet.uid}})</span
            >
        </div>
        <table class="pin-table">
            <tr>
                <th>{{ 'pinAssignment.pin' | translate }}</th>
                <th>{{ 'pinAssignment.bodyPart' | translate }}</th>
                <th>{{ 'pinAssignment.defective' | translate }}</th>
            </tr>
            <tr
                *ngFor="let pinInfo of bricklet.pins"
                [ngClass]="{'pin-defective': pinInfo.defective}">
                <td class="pin-number">{{pinInfo.pin}}</td>
                <td>
                    <select
                        class="pin-select"
                        [attr.data-test]="'SEL_Pin_' + bricklet.brickletNumber + '_' + pinInfo.pin"
                        [disabled]="pinInfo.defective"
                        (change)="onAssign(bricklet.brickletId, pinInfo.pin, $any($event.target).value)">
                        <option
                            value=""
                            [selected]="!pinInfo.motorName"
                            >{{ 'pinAssignment.notConnected' | translate }}</option
                        >
                        <option
                            *ngFor="let motorName of availableMotorNames(pinInfo.motorName)"
                            [value]="motorName"
                            [selected]="motorName === pinInfo.motorName">
                            {{motorName}}
                        </option>
                    </select>
                </td>
                <td>
                    <input
                        type="checkbox"
                        class="defective-checkbox"
                        [attr.data-test]="'CHK_Defective_' + bricklet.brickletNumber + '_' + pinInfo.pin"
                        [checked]="pinInfo.defective"
                        [disabled]="pinInfo.motorName !== null"
                        (change)="onToggleDefective(bricklet.brickletId, pinInfo.pin, $any($event.target).checked)" />
                </td>
            </tr>
        </table>
    </div>
</div>
